body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: black;
}
.exit {
    display: block;
    position: absolute;
    top: 7.9%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 19.35%;
    height: 4.5%;
    background: rgba(255, 255, 255,0);
    cursor: pointer;
}
.container {
    width: 100%;
    height: 100%;
    background-image: url('../이미지/mingu-4.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
}
.first-button,
.second-button,
.third-button,
.fourth-button,
.fifth-button,
.sixth-button,
.button1,
.button2,
.button3,
.button4,
.button5,
.button6,
.button-left {
    transition: all 0.3s ease;
}
.first-button {
    display: block;
    position: absolute;
    top: 9.6%;
    left: 10.45%;
    transform: translate(-50%, -50%);
    width: 9.5%;
    height: 9.5%;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
}
.second-button {
    display: block;
    position: absolute;
    top: 20.4%;
    left: 10.45%;
    transform: translate(-50%, -50%);
    width: 9.5%;
    height: 9.5%;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.third-button {
    display: block;
    position: absolute;
    top: 31.2%;
    left: 10.45%;
    transform: translate(-50%, -50%);
    width: 9.5%;
    height: 9.5%;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.fourth-button {
    display: block;
    position: absolute;
    top: 9.6%;
    left: 89.5%;
    transform: translate(-50%, -50%);
    width: 9.5%;
    height: 9.5%;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.fifth-button {
    display: block;
    position: absolute;
    top: 20.4%;
    left: 89.5%;
    transform: translate(-50%, -50%);
    width: 9.5%;
    height: 9.5%;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.sixth-button {
    display: block;
    position: absolute;
    top: 31.2%;
    left: 89.5%;
    transform: translate(-50%, -50%);
    width: 9.5%;
    height: 9.5%;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.button1 {
    display: block;
    position: absolute;
    top: 93.5%;
    left: 9.22%;
    transform: translate(-50%, -50%);
    width: 14.45%;
    height: 12.5%;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.button2 {
    display: block;
    position: absolute;
    top: 93.5%;
    left: 25.6%;
    transform: translate(-50%, -50%);
    width: 14.45%;
    height: 12.5%;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.button3 {
    display: block;
    position: absolute;
    top: 93.5%;
    left: 41.90%;
    transform: translate(-50%, -50%);
    width: 14.46%;
    height: 12.5%;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.button4 {
    display: block;
    position: absolute;
    top: 93.5%;
    left: 58.3%;
    transform: translate(-50%, -50%);
    width: 14.46%;
    height: 12.5%;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.button5 {
    display: block;
    position: absolute;
    top: 93.5%;
    left: 74.55%;
    transform: translate(-50%, -50%);
    width: 14.45%;
    height: 12.5%;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.button6 {
    display: block;
    position: absolute;
    top: 93.5%;
    left: 90.8%;
    transform: translate(-50%, -50%);
    width: 14.46%;
    height: 12.5%;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.button-left {
    display: block;
    position: absolute;
    top: 69.4%;
    left: 27.1%;
    transform: translate(-50%, -50%);
    width: 45.2%;
    height: 30.4%;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
}


.first-button:hover {
    display: block;
    position: absolute;
    top: 50.2%;
    left: 23%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 100%;
    background-image: url('../이미지/card1.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.second-button:hover {
    display: block;
    position: absolute;
    top: 61%;
    left: 23%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 100%;
    background-image: url('../이미지/card2.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.third-button:hover {
    display: block;
    position: absolute;
    top: 71.7%;
    left: 23%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 100%;
    background-image: url('../이미지/card3.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.fourth-button:hover {
    display: block;
    position: absolute;
    top: 50.2%;
    left: 77%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 100%;
    background-image: url('../이미지/card4.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.fifth-button:hover {
    display: block;
    position: absolute;
    top: 61%;
    left: 77%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 100%;
    background-image: url('../이미지/card5.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.sixth-button:hover {
    display: block;
    position: absolute;
    top: 71.7%;
    left: 77%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 100%;
    background-image: url('../이미지/card6.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.button1:hover {
background: rgba(0, 255, 0, 0.3);
}

.button2:hover {
background: rgba(0, 255, 0, 0.3);
}

.button3:hover {
background: rgba(0, 255, 0, 0.3);
}

.button4:hover {
background: rgba(0, 255, 0, 0.3);
}

.button5:hover {
background: rgba(0, 255, 0, 0.3);
}

.button6:hover {
background: rgba(0, 255, 0, 0.3);
}

.button-left:hover {
background: rgba(0, 255, 0, 0.3);
}

body {
background-color: #000;
overflow-y: auto;
}

@keyframes scanlines {
0% {
background-position: 0 0;
}
100% {
background-position: 0 -100vh;
}
}
